### Import the library pandas as pd

#### Import արեք pandas գրադարանը pd  անունով

### Import the dataset gender.txt, assign to a variable gender

### Import արեք gender.txt dataset-ը, վերագրեք այն gender փոփոխականին

### Check the datatypes in the dataframe

### Ստուգեք աղյուսակի սյուների տիպերը

### Convert the datatype of the column 'occupation' into categorical

### Վերածեք 'occupation' սյունը categorical տիպի

### Replace the values in the column 'gender' with Male and Female accordingly. Do this with 2 methods: using apply and map.

### Փոխարինեք  'gender' սյան արժեքները Male և Female արժեքներով, արեք սա երկու տարբերակով՝ գործածելով apply և map ֆունկցիաները

### Calculate the mean, median and std of age values for each occupation

### Հաշվեք age սյան mean, median և std արժեքները occupation սյան ամեն արժեքի համար

### Create a new column 'birth_year' and get the birth year of each individual using the values from the column 'age'

### Ստեղծեք 'birth_year' անունով նոր սյուն, որում կպահեք ամեն մարդու ծննդյան տարին, որը կստանաք օգտագործելով 'birth_year' սյան արժեքները

### Create a new column 'birth_date' using the column 'birth_year' and current month and day values"

### Ստեղծեք 'birth_date' անունով նոր սյուն, որի արժեքները կստանաք գործածելով 'birth_year' սյան արժեքները ինչպես նաև այս պահի ամիսն ու օրը։

### Make sure the datatype of the columns 'birth_year' and 'birth_date' is datetime

### Վստահ եղեք, որ 'birth_year' և 'birth_date' սյուները datetime տիպի են

### Change the values in the column user_id to have the values of type string of the same length (use the method of your choice). As an example, if we have values 0, 1 and 100, we could have values '000', '001' and '100' as a result.

### Փոխեք user_id սյան արժեքները նույն երկարություն ունեցող string տիպի արժեքներով՝ գործածելով Ձեր ցանկացած մեթոդը։ Որպես օրինակ, եթե ունեք 0, 1 և 100 աևժեքներ, Ձեր արդյունքը կարող է լինել '000', '001' և'100'