In [6]:
list1 = ["hello", 1, True]
x = input()
print(list1)
list1.append(x)
list1

2
['hello', 1, True]

['hello', 1, True, '2']

In [17]:
list2 = [1, 8, 9, "Hello", 11, 11, 11]
y = int(input())
print(list2)
list2.count(y)

11
[1, 8, 9, 'Hello', 11, 11, 11]

3

In [18]:
list2 = [1, 8, 9, "Hello", 11, 11, 11]
print(list2)
list2.count(int(input()))

[1, 8, 9, 'Hello', 11, 11, 11]
11

3

In [20]:
set3 = {1, 2, 5, 8, 9, 11, 13, 13}
z = int(input())
min(set3) < z < max(set3)

7

True

In [21]:
set3 = {1, 2, 5, 8, 9, 11, 13, 13}
z = int(input())
min(set3) < z < max(set3)

18

False

In [22]:
t2 = (1, 8 , 13, "winter", "february", False)
p = list(t2)
p[4] = "Hello"
print(t2)
t2 = tuple(p)
print(t2)

(1, 8, 13, 'winter', 'february', False)
(1, 8, 13, 'winter', 'Hello', False)